<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title>Курсы</v-toolbar-title>
            <v-divider
                class="mx-2"
                inset
                vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="800px">
                <v-btn slot="activator" color="primary" dark class="mb-2">Создать</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-dialog
                                        ref="start"
                                        v-model="modal.start"
                                        :return-value.sync="editedItem.date_of_start"
                                        persistent
                                        lazy
                                        full-width
                                        width="290px"
                                    >
                                        <v-text-field
                                            slot="activator"
                                            v-model="editedItem.date_of_start"
                                            label="Дата начала"
                                            prepend-icon="event"
                                            readonly
                                        ></v-text-field>
                                        <v-date-picker
                                            v-model="editedItem.date_of_start"
                                            :min="new Date().toISOString().substr(0, 10)"
                                            scrollable
                                        >
                                            <v-spacer></v-spacer>
                                            <v-btn flat color="primary" @click="modal.start = false">Cancel</v-btn>
                                            <v-btn flat color="primary" @click="$refs.start.save(editedItem.date_of_start)">OK</v-btn>
                                        </v-date-picker>
                                    </v-dialog>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-dialog
                                        ref="end"
                                        v-model="modal.end"
                                        :return-value.sync="editedItem.date_of_end"
                                        persistent
                                        lazy
                                        full-width
                                        width="290px"
                                    >
                                        <v-text-field
                                            slot="activator"
                                            v-model="editedItem.date_of_end"
                                            label="Дата окончания"
                                            prepend-icon="event"
                                            readonly
                                        ></v-text-field>
                                        <v-date-picker
                                            v-model="editedItem.date_of_end"
                                            :show-current="editedItem.date_of_start"
                                            :min="new Date(editedItem.date_of_start || defaultItem.date_of_start).toISOString().substr(0, 10)"
                                            scrollable
                                        >
                                            <v-spacer></v-spacer>
                                            <v-btn flat color="primary" @click="modal.end = false">Cancel</v-btn>
                                            <v-btn flat color="primary" @click="$refs.end.save(editedItem.date_of_end)">OK</v-btn>
                                        </v-date-picker>
                                    </v-dialog>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="editedItem.title" label="Заголовок"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field type="number" v-model="editedItem.price" label="Цена"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-textarea v-model="editedItem.description" label="Описание" rows="10"></v-textarea>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <v-data-table
            :headers="headers"
            :items="courses"
            :loading="loading"
            class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <tr>
                    <td>{{ props.item.id }}</td>
                    <td>{{ props.item.title }}</td>
                    <td>{{ props.item.date_of_start | moment('dddd, MMMM Do YYYY') }}</td>
                    <td>{{ props.item.date_of_end | moment('dddd, MMMM Do YYYY') }}</td>
                    <td class="justify-center layout px-0">
                        <v-icon
                            small
                            class="mr-2"
                            @click="editItem(props.item)"
                        >
                            edit
                        </v-icon>
                        <v-icon
                            small
                            @click="deleteItem(props.item)"
                        >
                            delete
                        </v-icon>
                    </td>
                </tr>
            </template>
        </v-data-table>
    </div>
</template>

<script>
import Marked from './../../components/Marked.vue';
export default {
    components: {
        Marked
    },
    mounted() {
        this.loading = true;
        this.$http.get('/courses').then(res => {
            this.courses = res.data;
            this.loading = false;
        });
    },
    data() {
        return {
            loading: false,
            start: false,
            end: false,
            dialog: false,
            modal: { start: false, end: false },
            headers: [
                { text: 'ID', align: 'left', sortable: false, value: 'id' },
                { text: 'Название', value: 'title' },
                { text: 'Дата начала', value: 'date_of_start' },
                { text: 'Дата окончания', value: 'date_of_end' },
                { text: 'Действия', value: 'title', sortable: false }
            ],
            courses: [],
            editedIndex: -1,
            editedItem: {
                first_name: '',
                last_name: '',
                date_of_start: null,
                date_of_end: null
            },
            defaultItem: {
                first_name: '',
                last_name: '',
                date_of_start: new Date().toISOString().substring(0, 10),
                date_of_end: new Date().toISOString().substring(0, 10)
            }
        };
    },
    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Новый курс' : 'Редактирование';
        }
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        'editedItem.date_of_start': function(val) {
            this.editedItem.date_of_start = val.substring(0, 10);
        },
        'editedItem.date_of_end': function(val) {
            this.editedItem.date_of_end = val.substring(0, 10);
        }
    },
    methods: {
        editItem(item) {
            this.editedIndex = this.courses.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.dialog = true;
        },
        deleteItem(item) {
            const index = this.courses.indexOf(item);
            if (confirm('Are you sure you want to delete this item?')) {
                this.$http.delete(`/courses/${item.id}`).then(res => {
                    this.courses.splice(index, 1);
                });
            }
        },

        close() {
            this.dialog = false;
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
            }, 300);
        },

        save() {
            if (this.editedIndex > -1) {
                this.$http
                    .put(`/courses/${this.editedItem.id}`, this.editedItem)
                    .then(res => {
                        if (res.data) {
                            Object.assign(
                                this.courses[this.editedIndex],
                                this.editedItem
                            );
                        }
                    });
            } else {
                this.$http.post('/courses', this.editedItem).then(res => {
                    this.courses.push(res.data);
                });
            }
            this.close();
        }
    }
};
</script>
