<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title>Рассылка</v-toolbar-title>
            <v-divider
                class="mx-2"
                inset
                vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="800px">
                <v-btn slot="activator" color="primary" dark class="mb-2">Создать</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="editedItem.title" label="Заголовок"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-textarea v-model="editedItem.content" label="Содержание" rows="10"></v-textarea>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <v-data-table
            :headers="headers"
            :items="posts"
            :loading="loading"
            class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <tr>
                    <td>{{ props.item.id }}</td>
                    <td @click="props.expanded = !props.expanded">{{ props.item.title }}</td>
                    <td class="text-xs-right">{{ props.item.week }}</td>
                    <td class="text-xs-right">{{ props.item.createdAt }}</td>
                    <td class="text-xs-right">{{ props.item.updatedAt }}</td>
                    <td class="justify-center layout px-0">
                        <v-icon
                            small
                            class="mr-2"
                            @click="editItem(props.item)"
                        >
                            edit
                        </v-icon>
                        <v-icon
                            small
                            @click="deleteItem(props.item)"
                        >
                            delete
                        </v-icon>
                    </td>
                </tr>
            </template>
            <template slot="expand" slot-scope="props">
                <v-card flat>
                    <v-card-text><marked>{{ props.item.content }}</marked></v-card-text>
                </v-card>
            </template>
        </v-data-table>
    </div>
</template>

<script>
import Marked from './../../components/Marked.vue';
export default {
    components: {
        Marked
    },
    mounted() {
        this.loading = true;
        this.$http.get('/posts').then(res => {
            this.posts = res.data;
            this.loading = false;
        });
    },
    data() {
        return {
            loading: false,
            dialog: false,
            headers: [
                { text: 'ID', align: 'left', sortable: false, value: 'id' },
                {
                    text: 'Название',
                    align: 'left',
                    sortable: false,
                    value: 'title'
                },
                { text: 'Неделя', value: 'week' },
                { text: 'Создано', value: 'createdAt' },
                { text: 'Изменено', value: 'updatedAt' },
                { text: 'Действия', value: 'title', sortable: false }
            ],
            posts: [],
            editedIndex: -1,
            editedItem: {
                title: '',
                content: ''
            },
            defaultItem: {
                title: '',
                content: ''
            }
        };
    },
    computed: {
        formTitle() {
            return this.editedIndex === -1
                ? 'Новая рассылка'
                : 'Редактирование';
        }
    },
    watch: {
        dialog(val) {
            val || this.close();
        }
    },
    methods: {
        editItem(item) {
            this.editedIndex = this.posts.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.dialog = true;
        },
        deleteItem(item) {
            const index = this.posts.indexOf(item);
            if (confirm('Are you sure you want to delete this item?')) {
                this.$http.delete(`/posts/${item.id}`).then(res => {
                    this.posts.splice(index, 1);
                });
            }
        },

        close() {
            this.dialog = false;
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
            }, 300);
        },

        save() {
            if (this.editedIndex > -1) {
                this.$http
                    .put(`/posts/${this.editedItem.id}`, this.editedItem)
                    .then(res => {
                        if (res.data) {
                            Object.assign(
                                this.posts[this.editedIndex],
                                this.editedItem
                            );
                        }
                    });
            } else {
                this.$http.post('/posts', this.editedItem).then(res => {
                    this.posts.push(res.data);
                });
            }
            this.close();
        }
    }
};
</script>
