<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title>Преподаватели</v-toolbar-title>
            <v-divider
                class="mx-2"
                inset
                vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
                <v-btn slot="activator" color="primary" dark class="mb-2">Создать</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="editedItem.first_name" label="Имя"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="editedItem.last_name" label="Фамилия"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <v-data-table
            :headers="headers"
            :items="teachers"
            :loading="loading"
            class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <tr>
                    <td>{{ props.item.id }}</td>
                    <td>{{ props.item.first_name }}</td>
                    <td>{{ props.item.last_name }}</td>
                    <td class="justify-center layout px-0">
                        <v-icon
                            small
                            class="mr-2"
                            @click="editItem(props.item)"
                        >
                            edit
                        </v-icon>
                        <v-icon
                            small
                            @click="deleteItem(props.item)"
                        >
                            delete
                        </v-icon>
                    </td>
                </tr>
            </template>
        </v-data-table>
    </div>
</template>

<script>
import Marked from './../../components/Marked.vue';
export default {
    components: {
        Marked
    },
    mounted() {
        this.loading = true;
        this.$http.get('/teachers').then(res => {
            this.teachers = res.data;
            this.loading = false;
        });
    },
    data() {
        return {
            loading: false,
            dialog: false,
            headers: [
                { text: 'ID', align: 'left', sortable: false, value: 'id' },
                { text: 'Имя', value: 'first_name' },
                { text: 'Фамилия', value: 'last_name' },
                { text: 'Действия', value: 'title', sortable: false }
            ],
            teachers: [],
            editedIndex: -1,
            editedItem: {
                first_name: '',
                last_name: ''
            },
            defaultItem: {
                first_name: '',
                last_name: ''
            }
        };
    },
    computed: {
        formTitle() {
            return this.editedIndex === -1
                ? 'Новый преподаватель'
                : 'Редактирование';
        }
    },
    watch: {
        dialog(val) {
            val || this.close();
        }
    },
    methods: {
        editItem(item) {
            this.editedIndex = this.teachers.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.dialog = true;
        },
        deleteItem(item) {
            const index = this.teachers.indexOf(item);
            if (confirm('Are you sure you want to delete this item?')) {
                this.$http.delete(`/teachers/${item.id}`).then(res => {
                    this.teachers.splice(index, 1);
                });
            }
        },

        close() {
            this.dialog = false;
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
            }, 300);
        },

        save() {
            if (this.editedIndex > -1) {
                this.$http
                    .put(`/teachers/${this.editedItem.id}`, this.editedItem)
                    .then(res => {
                        if (res.data) {
                            Object.assign(
                                this.teachers[this.editedIndex],
                                this.editedItem
                            );
                        }
                    });
            } else {
                this.$http.post('/teachers', this.editedItem).then(res => {
                    this.teachers.push(res.data);
                });
            }
            this.close();
        }
    }
};
</script>
