<template>
    <div v-html="compiledMarkdown"></div>
</template>

<script>
import marked from 'marked';
export default {
    props: {
        content: String
    },
    computed: {
        compiledMarkdown: function() {
            const content = this.$slots.default[0].text;
            return marked(content, { sanitize: true });
        }
    }
};
</script>
