<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>Пользователи</v-toolbar-title>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="users"
      :loading="loading"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.id }}</td>
        <td class="text-xs-right">{{ props.item.first_name }}</td>
        <td class="text-xs-right">{{ props.item.last_name }}</td>
        <td class="text-xs-right"><a :href="`https://t.me/${props.item.username}`">{{ props.item.username }}</a></td>
        <td class="text-xs-right">
          <v-icon v-if="props.item.is_bot">check_box</v-icon>
          <v-icon v-else>check_box_outline_blank</v-icon>
        </td>
        <td class="text-xs-right">
          <v-icon v-if="props.item.subscribe_vk">check_box</v-icon>
          <v-icon v-else>check_box_outline_blank</v-icon>
        </td>
        <td class="text-xs-right">
          <v-icon v-if="props.item.subscribe_posting">check_box</v-icon>
          <v-icon v-else>check_box_outline_blank</v-icon>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
    mounted() {
        this.loading = true;
        this.$http.get('/users').then(res => {
            this.users = res.data;
            this.loading = false;
        });
    },
    data() {
        return {
            loading: false,
            headers: [
                { text: 'ID', align: 'left', sortable: false, value: 'id' },
                { text: 'Имя', value: 'first_name' },
                { text: 'Фамилия', value: 'last_name' },
                { text: 'Ник', value: 'username' },
                {
                    text: 'Бот',
                    align: 'center',
                    sortable: false,
                    value: 'is_bot'
                },
                {
                    text: 'Подписка ВК',
                    align: 'center',
                    sortable: false,
                    value: 'subscribe_vk'
                },
                {
                    text: 'Рассылка',
                    align: 'center',
                    sortable: false,
                    value: 'subscribe_posting'
                }
            ],
            users: []
        };
    }
};
</script>
