<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title>Занятия</v-toolbar-title>
            <v-divider
                class="mx-2"
                inset
                vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="800px">
                <v-btn slot="activator" color="primary" dark class="mb-2">Создать</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-select
                                        :items="courses"
                                        v-model="editedItem.Course"
                                        item-text="title"
                                        item-value="id"
                                        label="Курсы"
                                        return-object
                                    ></v-select>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-select
                                        :items="teachers"
                                        v-model="editedItem.Teacher"
                                        item-text="last_name"
                                        label="Преподаватели"
                                        return-object
                                    ></v-select>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-dialog
                                        ref="date"
                                        v-model="modal.date"
                                        :disabled="!editedItem.Course"
                                        :return-value.sync="editedItem.date_of_event"
                                        persistent
                                        lazy
                                        full-width
                                        width="290px"
                                    >
                                        <v-text-field
                                            slot="activator"
                                            v-model="editedItem.date"
                                            :disabled="!editedItem.Course"
                                            label="Дата занятия"
                                            prepend-icon="event"
                                            readonly
                                        ></v-text-field>
                                        <v-date-picker
                                            v-model="editedItem.date"
                                            :min="editedItem.Course ? editedItem.Course.date_of_start : undefined"
                                            :max="editedItem.Course ? editedItem.Course.date_of_end : undefined"
                                            scrollable
                                        >
                                            <v-spacer></v-spacer>
                                            <v-btn flat color="primary" @click="modal.date = false">Cancel</v-btn>
                                            <v-btn flat color="primary" @click="$refs.date.save(editedItem.date)">OK</v-btn>
                                        </v-date-picker>
                                    </v-dialog>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-dialog
                                        ref="time"
                                        v-model="modal.time"
                                        :disabled="!editedItem.Course || !editedItem.date"
                                        :return-value.sync="editedItem.time_of_event"
                                        persistent
                                        lazy
                                        full-width
                                        width="290px"
                                    >
                                        <v-text-field
                                            slot="activator"
                                            v-model="editedItem.time"
                                            :disabled="!editedItem.Course || !editedItem.date"
                                            label="Время занятия"
                                            prepend-icon="alarm"
                                            readonly
                                        ></v-text-field>
                                        <v-time-picker
                                            v-model="editedItem.time"
                                            format="24hr"
                                            scrollable
                                        >
                                            <v-spacer></v-spacer>
                                            <v-btn flat color="primary" @click="modal.time = false">Cancel</v-btn>
                                            <v-btn flat color="primary" @click="$refs.time.save(editedItem.time)">OK</v-btn>
                                        </v-time-picker>
                                    </v-dialog>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field v-model="editedItem.title" label="Заголовок"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-textarea v-model="editedItem.description" label="Описание" rows="10"></v-textarea>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <v-data-table
            :headers="headers"
            :items="lessons"
            :loading="loading"
            class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <tr>
                    <td>{{ props.item.id }}</td>
                    <td>{{ props.item.title }}</td>
                    <td>{{ props.item.date_of_event | moment('dddd, MMMM Do YYYY, HH:mm') }}</td>
                    <td class="justify-center layout px-0">
                        <v-icon
                            small
                            class="mr-2"
                            @click="editItem(props.item)"
                        >
                            edit
                        </v-icon>
                        <v-icon
                            small
                            @click="deleteItem(props.item)"
                        >
                            delete
                        </v-icon>
                    </td>
                </tr>
            </template>
        </v-data-table>
    </div>
</template>

<script>
import Marked from './../../components/Marked.vue';
import moment from 'moment';

export default {
    components: {
        Marked
    },
    mounted() {
        this.$http.get('/courses').then(res => {
            this.courses = res.data;
        });
        this.$http.get('/teachers').then(res => {
            this.teachers = res.data;
        });
        this.loading = true;
        this.$http.get('/lessons').then(res => {
            this.lessons = res.data;
            this.loading = false;
        });
    },
    data() {
        return {
            loading: false,
            date: false,
            time: false,
            dialog: false,
            modal: { date: false, time: false },
            headers: [
                { text: 'ID', align: 'left', sortable: false, value: 'id' },
                { text: 'Название', value: 'title', sortable: false },
                { text: 'Дата занятия', value: 'date_of_event' },
                { text: 'Действия', value: 'title', sortable: false }
            ],
            courses: [],
            teachers: [],
            lessons: [],
            editedIndex: -1,
            editedItem: {
                title: '',
                description: '',
                Course: null,
                Teacher: null,
                date_of_event: null,
                date: null,
                time: null
            },
            defaultItem: {
                title: '',
                description: '',
                Course: null,
                Teacher: null,
                date_of_event: null,
                date: null,
                time: null
            }
        };
    },
    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Новый курс' : 'Редактирование';
        }
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        'editedItem.date_of_event': function(val) {
            if (val) {
                const m = moment(val);
                this.editedItem.date = m.format('YYYY-MM-DD');
                this.editedItem.time = m.format('HH:mm');
            }
        }
        // 'editedItem.date': function (val)
    },
    methods: {
        editItem(item) {
            this.editedIndex = this.lessons.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.dialog = true;
        },
        deleteItem(item) {
            const index = this.lessons.indexOf(item);
            if (confirm('Are you sure you want to delete this item?')) {
                this.$http.delete(`/lessons/${item.id}`).then(res => {
                    this.lessons.splice(index, 1);
                });
            }
        },

        close() {
            this.dialog = false;
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
            }, 300);
        },

        save() {
            const data = Object.assign({}, this.editedItem, {
                date_of_event: moment(
                    `${this.editedItem.date} ${this.editedItem.time}`
                )
                    .utcOffset('+0300')
                    .format(),
                TeacherId: this.editedItem.Teacher.id,
                CourseId: this.editedItem.Course.id
            });
            if (this.editedIndex > -1) {
                this.$http
                    .put(`/lessons/${this.editedItem.id}`, data)
                    .then(res => {
                        if (res.data) {
                            Object.assign(this.lessons[this.editedIndex], data);
                        }
                    });
            } else {
                this.$http.post('/lessons', data).then(res => {
                    this.$http.get(`/lessons/${res.data.id}`).then(res => {
                        this.lessons.push(res.data);
                    });
                });
            }
            this.close();
        }
    }
};
</script>
